body{
    margin: 0px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    color: #000000;
}

h1{
    text-align: center !important;
    font-size: 44px !important;
    font-weight: 400 !important;
}

h2{
    text-align: center !important;
    font-size: 18px !important;
    font-weight: 250 !important;
}

.title{
    padding: 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desc{
    padding-top: 10px;
}

.rsvp{
    padding: 50px 10%;
    display: flex;
    flex-direction: column;

}

.tinput{
    width: 100%;
    padding: 12px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 250 !important;
    border: 1px solid rgba(0, 0, 0, 0.450);
}

.tinput::placeholder{
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 250 !important;
    color: #000000;
}

.tinput:focus {
    outline: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 250 !important;
    color: #000000;
}

.tinput:not(:focus) {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 250 !important;
    color: #000000;
}

.formRSVP{

    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.rdiv{
    padding: 5px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 250 !important;
    color: #000000;  
}

.dbtn{
    width: 170px;
    margin: 10px 0px;
    font-family: "Poppins", sans-serif !important;
    font-size: 15px !important;
    font-weight: 250 !important;
    background-color: white !important;
    color: black !important;
    border: 1px solid rgba(0, 0, 0, 0.450) !important;
    border-radius: 0% !important;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center;
}

.ditem{
    font-family: "Poppins", sans-serif !important;
    font-size: 15px !important;
    font-weight: 250 !important;
}

.btnCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.button{
    background-color: #000000;
    color: white;
    padding: 2px 50px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 300 !important;
    border: 1px solid rgba(0, 0, 0, 0.450) !important;
}